<p>
    <mat-toolbar color="primary">
      <button mat-icon-button  aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/">My App</a>
      <span class="example-spacer"></span>
      <button routerLink="/signup" mat-mini-fab aria-label="Example icon-button with heart icon">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>