<p>
  <mat-toolbar color="primary">
    <mat-icon>calculate</mat-icon>
    <button routerLink="/" style="margin-left: 30px;" mat-flat-button color="primary">Tarrif Manager</button>
    <span class="example-spacer"></span>
    <button *ngIf="loginService.isLoggedIn()==''" routerLink="/signup" mat-mini-fab>
      <mat-icon>person_add</mat-icon>
    </button>
    <button (click)="Logout()" *ngIf="loginService.isLoggedIn()!=''" routerLink="/" mat-mini-fab>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>