<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" style="font-size: 30px;" routerLink="/">Tarrif Manager</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="dropdown">
                    <a routerLink="/expenses" style="font-size: 20px;" *ngIf="loginService.isLoggedIn()=='user'||loginService.isLoggedIn()=='manager'"
                        class="nav-link mx-2 active fas fa-heart pe-2">Add Expense</a>
                </li>
                <li class="dropdown">
                    <a *ngIf="loginService.isLoggedIn()==''" routerLink="/signup" style="font-size: 20px;" class="nav-link mx-2 active"><i
                            class="fas fa-heart pe-2 text-muted" ></i>Register</a>
                </li>
                <li class="active">
                    <a *ngIf="loginService.isLoggedIn()==''" routerLink="/" style="font-size: 20px;" class="btn btn-secondary btn-rounded">Sign
                        in</a>
                </li>
                <li class="active">
                    <a (click)="Logout()" *ngIf="loginService.isLoggedIn()!=''"
                    style="font-size: 20px;" class="btn btn-primary btn-rounded" routerLink="">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 
