<h1 mat-dialog-title class="text-center">Expense Details</h1>

<div mat-dialog-content>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col">

                <table class="table-h">
                    <tr *ngIf="role=='manager'">
                        <td class="bold">Claimed By</td>
                        <td>{{expense.claimedBy.username}}</td>
                    </tr>
                    <tr *ngIf="role=='manager'">
                        <td class="bold">Email</td>
                        <td>{{expense.claimedBy.email}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Bill Number</td>
                        <td>{{expense.billNumber}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Price</td>
                        <td>{{expense.billCost}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Date</td>
                        <td>{{date}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Description</td>
                        <td>{{expense.description}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Status</td>
                        <td>{{expense.status}}</td>
                    </tr>
                </table>

                <form #remark="ngForm" (ngSubmit)="submit()">
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Remarks</mat-label>
                        <input required name="remarks" [(ngModel)]="remarks" type="text" matInput
                            placeholder="Enter Remarks">
                        <mat-icon matSuffix>badge</mat-icon>
                    </mat-form-field>
                    <div style="display:flex; justify-content: center; margin-top: 20px;">
                        <button [disabled]="remark.invalid" type="submit" mat-raised-button color="warn">
                            Decline
                        </button>
                        <button type="button" style="margin-left: 20px;" (click)="close()" mat-raised-button
                            color="primary">Cancel</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>