.w100 {
    min-width: 500px;
    width: 100%;
    display: block;
    margin-top: 20px;
  }
  .table-h {
    width: 100%;
  }
  .table-h tr td {
    font-size: 17px;
    padding: 20px 30px;
    border: 0.5px solid rgb(241, 233, 233);
    border-radius: 50%;
  }
  .bold {
    font-weight: 500;
  }