.mat-success {
    background-color: rgb(7, 141, 7);
    color: #fff;
}
.card{
    padding: 0;
    border: 1px solid rgb(173, 173, 173);
    margin: 10px 0px 10px 0px;
  }
.mat-radio-button ~ .mat-radio-button {
    margin-left: 15px;
    margin-right:10px;
}