.w100{
  width: 100%;
  display:block;
}
.card{
  padding: 0;
  border: 1px solid rgb(173, 173, 173);
  margin: 10px 0px 10px 0px;
}
.card-x{
margin: 0;
}
.search{
  display: block;
  width: fit-content;
  margin:30px auto 0px 40px;
}

