<h1 mat-dialog-title class="text-center">Edit Employee</h1>
<div mat-dialog-content>
    <div class="bootstrap-wrapper">
        <div class="row" style=" margin-top: 30px;">
          <div class="col-md-14 offset-md-0">
            <form #signupForm="ngForm" (ngSubmit)="formSubmit()">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Email</mat-label>
                <input id="enterEmail" disabled required name="email" [(ngModel)]="emp.email" type="email" matInput placeholder="Enter Email">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Username</mat-label>
                <input id="enterName" required name="username" [(ngModel)]="emp.username" type="email" matInput
                  placeholder="Enter Username">
                <mat-icon matSuffix>badge</mat-icon>
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>mobile Number</mat-label>
                <input required name="mobileNumber" [(ngModel)]="emp.mobileNumber" type="number" matInput
                  placeholder="Enter Phone Number">
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Role</mat-label>
                <input required name="role" [(ngModel)]="emp.role" type="text" matInput
                  placeholder="Enter Role">
                <mat-icon matSuffix>assignment_ind</mat-icon>
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Password</mat-label>
                <input id="enterPassword" required name="password" [(ngModel)]="emp.password" type="text" matInput
                  placeholder="Enter Password">
                <mat-icon matSuffix>key</mat-icon>
              </mat-form-field>
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input required name="pass" [(ngModel)]="pass" type="text" matInput
                  placeholder="Confirm Password">
                <mat-icon *ngIf="pass_match==true" matSuffix>done_all</mat-icon>
                <mat-icon *ngIf="pass_match==false" matSuffix>error</mat-icon>
              </mat-form-field>
              <div style="margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: center;">
                <button id="updateButton" [disabled]="signupForm.invalid" class="full-w" type="submit" mat-raised-button
                  color="primary">Update</button>
                  <button type="button" style="margin-left: 20px;" mat-raised-button color="warn" (click)="close()">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>