<mat-card id="tariffHomeBody">
  <mat-card-content>
<h1 style="margin-left: 20px;" class="text-center mt-2">DASHBOARD<mat-icon>event</mat-icon></h1>
<div class="grid-container">
  <button class="empbutton-grid" id="grid1" routerLink="/employee/expenses"><div class="grid-item"><h3 style="margin-left: 10px;margin-top:30px">Total Expense <mat-icon style="margin-left:10px;font-size:20px">check_circle</mat-icon><br><br>{{total}}</h3></div></button>
  <button class="empbutton-grid" id="grid2"><div class="grid-item" routerLink="/employee/expenses"><h3 style="margin-left: 10px;margin-top:30px">Pending Expense <mat-icon style="margin-left:10px;font-size:20px">running_with_errors</mat-icon><br><br>{{pending}}</h3></div></button>
  <button class="empbutton-grid" id="grid3"><div class="grid-item" routerLink="/employee/expenses"><h3 style="margin-left: 10px;margin-top:30px">Approved Expense <mat-icon style="margin-left:10px;font-size:20px">check_circle</mat-icon><br><br>{{approved}}</h3></div></button>
  <div class="empbutton-grid" *ngIf="role=='manager'" id="grid3"><div class="grid-item" ><h3 style="margin-left: 10px;margin-top:30px">Total Expense <mat-icon style="margin-left:10px;font-size:20px">running_with_errors</mat-icon><br><br>{{totalemp}}</h3></div></div>
</div>
</mat-card-content>
</mat-card>