<mat-card id="tariffHomeBody">
  <mat-card-content>
<h1 style="margin-left: 20px;" class="text-center mt-2">DASHBOARD<mat-icon>event</mat-icon></h1>
<div class="grid-container">
  <button class="empbutton-grid" id="grid1" routerLink="/expenses/dashboard/employee/totalexp"><div class="grid-item"><h1 style="margin-left: 20px;">Total Expense<br><br>4300</h1></div></button>
  <button class="empbutton-grid" id="grid2"><div class="grid-item" routerLink="/expenses/dashboard/employee/pendingexp"><h1 style="margin-left: 20px;" >Pending Expense<br><br>1300</h1></div></button>
  <button class="empbutton-grid" id="grid3"><div class="grid-item" routerLink="/expenses/dashboard/employee/approvedexp"><h1 style="margin-left: 20px;" >Approved Expense<br><br>3000</h1></div></button>
</div>
</mat-card-content>
</mat-card>