
.grid-container 
{
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.055), 0 6px 20px 0 rgba(0, 0, 0, 0.055);
}

.grid-item 
{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 200px;
  rotate: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116), 0 6px 20px 0 rgba(0, 0, 0, 0.0116);
  border-radius: 25px;
  padding-bottom: 80px;
}
.empbutton-grid 
{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
  padding-bottom: 80px;
  font-size: 30px;
  text-align: center;
  height: 200px;
  rotate: 50px;
  border-radius: 25px;
}

