@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*{
    font-family: 'Inconsolata', monospace;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
