<ngx-ui-loader text="Loading"></ngx-ui-loader>
<mat-tab-group mat-align-tabs="center" style="height: max-content;">
  <mat-tab style="color:blue" label="View All">
    <mat-card class="scrollable-content">
      <mat-card-content>
        <mat-list *ngFor="let e of employee">
          <mat-list-item style="padding-left:30px;border:1px solid grey">
            <div mat-line>Name:&nbsp;{{e.username}}</div>
            <div mat-line>e-mail:&nbsp;{{e.email}}</div>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
              View
            </button>
            <button (click)="edit(e)" mat-mini-fab color="primary" style="margin: 10px">
              <mat-icon>edit</mat-icon>
            </button>

            <button (click)="delete(e)" mat-mini-fab color="warn" style="margin: 10px;">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Add">
    <mat-card>
      <mat-card-content>
        <div class="bootstrap-wrapper">
          <div class="row" style=" margin-top: 60px;">
            <div class="col-md-6 offset-md-3">
              <form #signupForm="ngForm" (ngSubmit)="formSubmit()">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input required name="email" [(ngModel)]="emp.email" type="email" matInput placeholder="Enter Email">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input required name="username" [(ngModel)]="emp.username" type="email" matInput
                    placeholder="Enter Username">
                  <mat-icon matSuffix>badge</mat-icon>
                  <!-- <mat-hint>Must Be Unique</mat-hint> -->
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>mobile Number</mat-label>
                  <input required name="mobileNumber" [(ngModel)]="emp.mobileNumber" type="number" matInput
                    placeholder="Enter Phone Number">
                  <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input required name="password" [(ngModel)]="emp.password" type="password" matInput
                    placeholder="Enter Password">
                  <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input required name="pass" [(ngModel)]="pass" type="password" matInput
                    placeholder="Confirm Password">
                  <mat-icon *ngIf="pass_match==true" matSuffix>done_all</mat-icon>
                  <mat-icon *ngIf="pass_match==false" matSuffix>error</mat-icon>
                </mat-form-field>
                <div class="container text-center" style="margin-top: 20px; margin-bottom: 20px;">
                  <button [disabled]="signupForm.invalid" class="full-w" type="submit" mat-raised-button
                    color="primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>