<mat-tab-group mat-align-tabs="center" style="height: max-content;">
  <mat-tab label="View All">
    <div style="display: flex; justify-items:left ; margin-top: 10px;">
      <mat-form-field style="margin-right:20px;">
        <mat-label>Search By</mat-label>
        <mat-select [(value)]="search">
          <mat-option value="Name" >Name</mat-option>
          <mat-option value="Email">Email</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input id="searchBox" type="text" name="searchVal" (input)="Search()" [(ngModel)]="searchVal" matInput placeholder="search">
    </mat-form-field>
    <button mat-raised-button style="height: fit-content; margin-left: 10px;" (click)="reset()" color="accent">
      Clear
    </button>
    <button  style="margin-left: 20px;" (click)="setEmployees()" mat-icon-button>
      <mat-icon>sync</mat-icon>
    </button>
    </div>
    <mat-card class="scrollable-content">
      <mat-card-content>
        <mat-list *ngFor="let e of empl">
          <mat-list-item style="padding-left:30px;border:1px solid grey" *ngIf="e.active==true">
            <div mat-line>Name:&nbsp;{{e.username}}</div>
            <div mat-line>E-mail:&nbsp;{{e.email}}</div>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
              View
            </button>
            <button (click)="edit(e)" mat-mini-fab color="#D9DDD8" style="margin: 10px">
              <mat-icon>edit</mat-icon>
            </button>

            <button (click)="delete(e)" mat-mini-fab color="warn" style="margin: 10px;">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Add New Employee">
    <mat-card>
      <mat-card-content>
        <div class="bootstrap-wrapper">
          <div class="row" style=" margin-top: 60px;">
            <div class="col-md-6 offset-md-3">
              <form #signupForm="ngForm" (ngSubmit)="formSubmit()">
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input required name="email" [(ngModel)]="emp.email" type="email" [formControl]="email" matInput placeholder="Enter Email">
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input required name="username" [(ngModel)]="emp.username" type="email" matInput
                    placeholder="Enter Username">
                  <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>mobile Number</mat-label>
                  <input required name="mobileNumber" [(ngModel)]="emp.mobileNumber" type="number" matInput
                    placeholder="Enter Phone Number">
                  <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input required name="password" [(ngModel)]="emp.password" type="password" matInput
                    placeholder="Enter Password">
                  <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input required name="pass" [(ngModel)]="pass" type="password" matInput
                    placeholder="Confirm Password">
                  <mat-icon *ngIf="pass_match==true" matSuffix>done_all</mat-icon>
                  <mat-icon *ngIf="pass_match==false" matSuffix>error</mat-icon>
                </mat-form-field>
                <div class="container text-center" style="margin-top: 20px; margin-bottom: 20px;">
                  <button id="addButton" [disabled]="signupForm.invalid" class="full-w" type="submit" mat-raised-button
                    color="primary">ADD</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Authorize Employees">
    <mat-card class="scrollable-content">
      <mat-card-content>
        <mat-list *ngFor="let e of empl">
          <mat-list-item style="padding-left:30px;border:1px solid grey" *ngIf="e.active==false">
            <div mat-line>Name:&nbsp;{{e.username}}</div>
            <div mat-line>E-mail:&nbsp;{{e.email}}</div>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
              View
            </button>
            <button (click)="auth(e,'true')" mat-mini-fab color="#D9DDD8" style="margin: 10px">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button (click)="auth(e,'false')" mat-mini-fab color="warn" style="margin: 10px;">
              <mat-icon>dangerous</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>