<mat-tab-group mat-align-tabs="center" style="height: max-content;">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 10px;">running_with_errors</mat-icon>
            Pending
          </ng-template>
        <mat-card class="scrollable-content">
            <h1 style="margin-left: 20px;">Pending Expenses</h1>
            <mat-card-content>
                <mat-list *ngFor="let e of expenses">
                    <mat-list-item class="card-x" *ngIf="e.status=='PENDING'">
                        <div mat-line>Total price: {{e.price}}</div>
                        <div mat-line>Description :{{e.desc}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                        <button  mat-mini-fab color="green" style="margin: 10px;">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                        <button   mat-mini-fab color="red" style="margin: 10px;">
                            <mat-icon>error_outline</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 10px;">check_circle</mat-icon>
            Approved
          </ng-template>
        <mat-card class="scrollable-content">
            <h1 style="margin-left: 20px;">Approved Expenses</h1>
            <mat-card-content>
                <mat-list *ngFor="let e of expenses">
                    <mat-list-item class="card-x" *ngIf="e.status=='APPROVED'">
                        <div mat-line>Total price: {{e.price}}</div>
                        <div mat-line>Description :{{e.desc}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 10px;">error_outline</mat-icon>
            Declined
          </ng-template>
        <mat-card class="scrollable-content">
            <h1 style="margin-left: 20px;">Declined Expenses</h1>
            <mat-card-content>
                <mat-list *ngFor="let e of expenses">
                    <mat-list-item class="card-x" *ngIf="e.status=='DECLINED'">
                        <div mat-line>Total price: {{e.price}}</div>
                        <div mat-line>Description :{{e.desc}}</div>
                        <div mat-line>Coupon Code :{{e.coupon}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>
