<mat-card id="tariffHomeBody">
  <mat-card-content>
<h1 style="margin-left: 20px;" class="text-center mt-2">DASHBOARD</h1>
<div class="grid-container">
  <button class=button-grid id="grid1"><div class="grid-item"><h3 style="margin-left: 10px;margin-top:30px">Total Expense <mat-icon style="margin-left:10px;font-size:20px">check_circle</mat-icon><br><br>4300</h3></div></button>
  <button class=button-grid id="grid2"><div class="grid-item"><h3 style="margin-left: 10px;margin-top:30px">Pending Expense<mat-icon style="margin-left:10px;font-size:20px">running_with_errors</mat-icon><br><br>1300</h3></div></button>
  <button class=button-grid id="grid3"><div class="grid-item"><h3 style="margin-left: 10px;margin-top:30px" >Approved Expense<mat-icon style="margin-left:10px;font-size:20px">check_circle</mat-icon><br><br>3000</h3></div></button>
  <div class="grid-item1"></div>
  <button class=button-grid id="grid4"><div class="grid-item4"><h3 style="margin-left: 10px;margin-top:30px" >Pending Expense<mat-icon style="margin-left:10px;font-size:20px">running_with_errors</mat-icon><br><br>1300</h3></div></button>
  <div class="grid-item1"></div>
</div>
</mat-card-content>
</mat-card>