<mat-card id="tariffHomeBody">
  <mat-card-content>
<h1 style="margin-left: 20px;" class="text-center mt-2">DASHBOARD</h1>
<div class="grid-container">
  <button class=button-grid id="grid1"><div class="grid-item"><h1 style="margin-left: 20px;">Total Expense<br><br>4300</h1></div></button>
  <button class=button-grid id="grid2"><div class="grid-item"><h1 style="margin-left: 20px;" >Pending Expense<br><br>1300</h1></div></button>
  <button class=button-grid id="grid3"><div class="grid-item"><h1 style="margin-left: 20px;" >Approved Expense<br><br>3000</h1></div></button>
  <div class="grid-item1"></div>
  <button class=button-grid id="grid4"><div class="grid-item4"><h1 style="margin-left: 20px;" >Pending Expense<br><br>1300</h1></div></button>
  <div class="grid-item1"></div>
</div>
</mat-card-content>
</mat-card>