<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class=" text-center my-3">Login</h1>
            <form (ngSubmit)="validate()">
                <div class="form-floating mb-3">
                    <input name="email" [(ngModel)]="login.email" type="email" class="form-control form-control-sm"
                        id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="password" [(ngModel)]="login.password" type="password"
                        class="form-control form-control-sm" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div style="margin: auto;display: block;width: fit-content;" class="form-floating mb-3">
                    <button style="margin: 10px;" type="submit" class="btn btn-primary btnn">Submit</button>
                    <button style="margin: 10px;" (click)="clear()" type="button" class="btn btn-danger">Clear</button>
                </div>
                <div style="margin: auto;display: block;width: fit-content;" class="form-floating mb-3">
                    <span style="font-weight:400; margin: 10px;"> New user?</span>
                    <a style="margin: 10px;" class="h6" routerLink="/signup">SignUp</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <h1>HEllo</h1> -->