<mat-card class="scrollable-content">
    <h1 style="margin-left: 20px;">My Expenses</h1>
    <mat-card-content>
        <mat-list>
            <mat-list-item class="card" *ngFor="let e of expenses">
                <div mat-line>Total price: {{e.price}}</div>
                <div mat-line>Description :{{e.desc}}</div>
                <div mat-line>Status:{{e.status}}</div>
                <mat-divider></mat-divider>
                <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                    View
                </button>
                <button (click)="remove(e.id)"  mat-mini-fab color="warn" style="margin: 10px;">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
