<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5 wauto">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuO-DSqmIjKR2_ft2HsHLM48kl5eW4Ae-HjXxqd_ZIw7Zno3bMm7PEwAs_FzZ4MJycIcE&usqp=CAU"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mar-top">
        <div class="container text-center" style="font-size: 27px; margin-bottom: 20px;">
          <mat-icon>calculate</mat-icon>
          <button mat-button routerLink="/login" style="font-size: 27px;">Tariff Manager</button>
        </div>
        <mat-card>
          <h2 style="margin-bottom: 20px; color: rgb(73, 73, 250);" class="text-center">Create a New Account</h2>
          <form #signupForm="ngForm" (ngSubmit)="formSubmit()">
            <mat-form-field class="full-w" appearance="outline">
              <mat-label>Email</mat-label>
              <input id="email" required name="email" [(ngModel)]="emp.email" [formControl]="email" type="email"
                matInput placeholder="Enter Email">
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-w" appearance="outline">
              <mat-label>Username</mat-label>
              <input id="username" required name="username" [(ngModel)]="emp.username" type="text" matInput
                placeholder="Enter Username">
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-w" appearance="outline">
              <mat-label>mobile Number</mat-label>
              <input id="mobileNumber" required name="mobileNumber" [(ngModel)]="emp.mobileNumber" type="number"
                matInput placeholder="Enter Phone Number">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-w" appearance="outline">
              <mat-label>Password</mat-label>
              <input id="password" required name="password" [(ngModel)]="emp.password" type="password" matInput
                placeholder="Enter Password">
              <mat-icon matSuffix>key</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-w" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input id="confirmPassword" required name="confirmPassword" [(ngModel)]="confirmPassword" type="password" matInput
                placeholder="Confirm Password">
              <mat-icon *ngIf="pass_match==true" matSuffix>done_all</mat-icon>
              <mat-icon *ngIf="pass_match==false" matSuffix>error</mat-icon>
            </mat-form-field>
            <div class="container text-center" style="margin-top: 20px; margin-bottom: 20px;">
              <button id="submitButton"  class="full-w" type="submit" mat-raised-button
                color="primary">Register</button>
            </div>
          </form>
          <div class="container text-center" style="margin-top: 20px; font-size: 17px;">
            <span>Already have an Account?</span>
            <a id="signinLink" routerLink="/login" style="padding-left: 20px;">Login Here</a>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<!-- 
<div>
  <form #signupForm="ngForm" (ngSubmit)="formSubmit()">
    <input id="email" required name="email" [(ngModel)]="emp.email" type="email" matInput placeholder="Enter Email">
    <input id="username" required name="username" [(ngModel)]="emp.username" type="text" matInput
      placeholder="Enter Username">
    <input id="mobileNumber" required name="mobileNumber" [(ngModel)]="emp.mobileNumber" type="number" matInput
      placeholder="Enter Phone Number">
    <input id="password" required name="password" [(ngModel)]="emp.password" type="password" matInput
      placeholder="Enter Password">
    <input id="confirmPassword" required name="confirmPassword" [(ngModel)]="confirmPassword" type="password" matInput
      placeholder="Confirm Password">
    <button id="submitButton" class="full-w" type="submit" mat-raised-button color="primary">Register</button>
  </form>
  <a id="signinLink" routerLink="/login" style="padding-left: 20px;">Login Here</a>
</div> -->