.card{
    margin: 20px 0px 20px 0px;
    /* margin:0; */
}
.card-x{
  margin: 0;
}
.mat-card.scrollable-content{
    display: flex;
    flex-direction: column;
  }
  
  .mat-card.scrollable-content mat-card-content {
      overflow-y: auto;
  }
  /* .mat-card.scrollable-content mat-card-title {
      display: block;
  }
  
  .mat-tab-group {
    height: 400px;
  }
  
  .mat-card-title {
    font-weight: bold;
    font-size: 1.25em !important;
  }
  .mat-card {
    height: 85%;
  }
  
  .mat-tab-label{
    font-weight: bold;
    font-size: 1.25em;
  }
  
  .mat-tab-body-content {
    overflow: hidden !important;
  }
  
  .mat-tab-body-wrapper {
    height: 100% !important;
  } */