<ngx-ui-loader fgsType="wandering-cubes" pbColor="#3f51b5" fgsColor="#3f51b5"></ngx-ui-loader>
<mat-tab-group mat-align-tabs="center" style="height: max-content;">
    <mat-tab label="All Expenses">
        <mat-card class="scrollable-content">
            <div style="display: flex; justify-items:left ;">
            <h1>My Expenses</h1>
            <button  style="margin-left: 20px;" (click)="ngOnInit()" mat-icon-button>
                <mat-icon>sync</mat-icon>
              </button>
            </div>
            <mat-card-content>
                <mat-list>
                    <mat-list-item class="card" *ngFor="let e of expenses;let i=index">
                        <div mat-line>Total price: {{e.billCost}}</div>
                        <div mat-line>Bill Number :{{e.billNumber}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 10px;">check_circle</mat-icon>
            Approved
          </ng-template>
        <mat-card class="scrollable-content">
            <div style="display: flex; justify-items:left ;">
                <h1>Approved Expenses</h1>
                <button  style="margin-left: 20px;" (click)="ngOnInit()" mat-icon-button>
                    <mat-icon>sync</mat-icon>
                  </button>
                </div>
            <h1 style="margin-left: 20px;"></h1>
            <mat-card-content>
                <mat-list *ngFor="let e of expenses">
                    <mat-list-item class="card-x" *ngIf="e.status=='approved'">
                        <div mat-line>Total price: {{e.billCost}}</div>
                        <div mat-line>Bill Number :{{e.billNumber}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 10px;">running_with_errors</mat-icon>
            Pending
          </ng-template>
        <mat-card class="scrollable-content">
            <div style="display: flex; justify-items:left ;">
                <h1>Pending Expenses</h1>
                <button  style="margin-left: 20px;" (click)="ngOnInit()" mat-icon-button>
                    <mat-icon>sync</mat-icon>
                  </button>
                </div>
            <mat-card-content>
                <mat-list *ngFor="let e of expenses">
                    <mat-list-item class="card-x" *ngIf="e.status=='pending'">
                        <div mat-line>Total price: {{e.billCost}}</div>
                        <div mat-line>Bill Number :{{e.billNumber}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon style="margin-right: 10px;">error_outline</mat-icon>
            Declined
          </ng-template>
        <mat-card class="scrollable-content">
            <div style="display: flex; justify-items:left ;">
                <h1>Declined Expenses</h1>
                <button  style="margin-left: 20px;" (click)="ngOnInit()" mat-icon-button>
                    <mat-icon>sync</mat-icon>
                  </button>
                </div>
            <mat-card-content>
                <mat-list *ngFor="let e of expenses">
                    <mat-list-item class="card-x" *ngIf="e.status=='declined'">
                        <div mat-line>Total price: {{e.billCost}}</div>
                        <div mat-line>Bill Number :{{e.billNumber}}</div>
                        <div mat-line>Status:{{e.status}}</div>
                        <mat-divider></mat-divider>
                        <button mat-raised-button color="primary" (click)="view(e)" style="margin: 10px;">
                            View
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>