<h1 mat-dialog-title class="text-center">Delete Employee</h1>
<div mat-dialog-content>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col" >
                <table class="table-h">
                    <tr>
                        <td>Username</td>
                        <td>{{emp.username}}</td>
                    </tr>
                    <tr>
                        <td>e-Mail</td>
                        <td>{{emp.email}}</td>
                    </tr>
                    <tr>
                        <td>Mobile Number</td>
                        <td>{{emp.mobileNumber}}</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{emp.role}}</td>
                    </tr>
                    <tr>
                        <td>Active</td>
                        <td>{{emp.active}}</td>
                    </tr>
                   
                </table>
                <button (click)="delete()" mat-raised-button color="warn" style="display: block; width: fit-content; margin: auto; margin-top: 20px;">Delete</button>
            </div>
        </div> 
 </div> 
</div>
